GCP_PROJECT_ID=m3-ecom
BATCH_BUCKET_NAME=m3-ecom-batch-data
STREAM_BUCKET_NAME=m3-ecom-dataflow-stream
BQ_RAW_DATASET=raw
PUBSUB_TOPIC_ID=orders-topic
PUBSUB_SUBSCRIPTION_ID=orders-topic-sub
BATCH_INPUT_FOLDER=../data/batch
STREAM_INPUT_FOLDER=../data/stream
STREAM_WINDOW_SECONDS=60
STREAM_LATE_OFFSET_SECONDS=0